{% extends 'auth/login.html.twig' %}
{% block title %}Register -STAGI.TN{% endblock %}
{% block body %}
    <div class="wrap-login100">

    <div class="login100-pic js-tilt" data-tilt>
        <img src="{{ asset('assets/img/img-01.png') }}" alt="IMG">
    </div>


        {{ form_start(form, {'attr':{'class':'login100-form validate-form'}}) }}
            <span class="login100-form-title">
                Member Registration
            </span>

        <div class="wrap-input100 validate-input" data-validate = "name is required">
            {{ form_row(form.name, {'attr': {'class': 'input100'}}) }}
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </span>
        </div>

            <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                {{ form_row(form.email, {'attr': {'class': 'input100'}}) }}
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
            </div>

        <div class="wrap-input100 validate-input" data-validate = "Password is required: ex@abc.xyz">
            {{ form_row(form.plainPassword.first, {'attr': {'class': 'input100'}}) }}
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Confirmation is required: ex@abc.xyz">
            {{ form_row(form.plainPassword.second, {'attr': {'class': 'input100'}}) }}
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Confirmation is required: ex@abc.xyz">
            {{ form_row(form.image, {'attr': {'class': 'input100'}}) }}

        </div>

        <input type="checkbox" name="entreprise"> Company?

        <div class="container-login100-form-btn">
        <button type="submit" class="login100-form-btn">Register</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}